<!DOCTYPE html>
<html>
  <head>
    <title>AmazonRailsAssign1Feb14</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <header>
  <nav>
    <%=  link_to 'To home', "/home" %>
    <%= link_to 'To about', about_path %>
  </nav>
  </header>
    <%= yield %>
  </body>
</html>
